.about-intro {
  position: relative;
  padding: 20px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: calc(50% - 332px);
    left: calc(50% - 923px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../images/bgi-first.png");
    background-size: 402px 300px;
    background-repeat: no-repeat;
    content: "";
  }

}

.about-holder {
  padding-top: 160px;
  padding-right: 64px;
  padding-bottom: 200px;
  padding-left: 165px;
  background-color:  #F8F8F2;
  background-blend-mode: overlay;
  
}

.about-holder__inner {
  display: flex;
}

.about-holder__img {
  margin-right: 185px;
}

.about-holder__theme {
  width: 626px;
}

.about-holder__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: #000000;
}

.about-holder__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .about-intro::before {
    background-image: url("../images/bgi-first@2x.png");
  }
} 