.footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #F3D7B7;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__nav {
  margin-left: 246px;
  margin-right: auto;
}

.footer__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer__item {
  margin-right: 40px;
  text-decoration: none;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #333333;
}

.media {
  display: flex;
}

.meadia__link {
  margin-right: 30px;
}

.meadia__link:last-child {
  margin-right: 0;
}