.hero {
  position: relative;
  padding: 116px 0 249px 100px;
  background-image:url("../images/hero-bgi.png"), url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: 710px 696px, 100%;
  background-blend-mode: normal, overlay;
  background-position: calc(50% + 405px) bottom, center center;
  background-color: #F3D7B7;

  &::before {
    position: absolute;
    top: calc(50% - 380px);
    left: calc(50% - 27px);
    display: block;
    width: 160px;
    height: 160px;
    background-image: url("../images/brend.png");
    background-size: 160px 160px;
    background-repeat: no-repeat;
    content: "";
  }
}

.hero__inner {
  width: 464px;
}

.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
  margin-bottom: 24px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 34px;
}

.hero__link {
  display: inline-block;
  width: 193px;
  padding: 16px 24px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  background-color: #0A775F;
  border-radius: 100px;
  text-decoration: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .hero {
    background-image:url("../images/hero-bgi@2x.png");
  }

  .hero::before {
    background-image: url("../images/brend@2x.png");
  }
} 