.intro {
  position: relative;
  padding: 20px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: calc(50% - 770px);
    left: calc(50% - 910px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../images/bgi-first.png");
    background-size: 402px 300px;
    background-repeat: no-repeat;
    content: "";
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 150px);
    right: calc(50% - 1048px);
    display: block;
    width: 545px;
    height: 591px;
    background-image: url("../images/bgi-second.png");
    background-size: 545px 591px;
    background-repeat: no-repeat;
  }
}

.holder {
  background-color:  #F8F8F2;
  background-blend-mode: overlay;

  &::before {
    position: absolute;
    bottom: calc(50% - 690px);
    left: calc(50% - 945px);
    display: block;
    width: 316px;
    height: 269px;
    background-image: url("../images/bgi-third.png");
    background-size: 316px 269px;
    background-repeat: no-repeat;
    content: "";
  }
  
}

.holder__inner {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holder__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}

.holder__list {
  width: 1114px;
  list-style-type: none;
}

.holder__item {
  display: flex;
  align-items: center;
}

.holder__item:nth-child(even) {
  flex-direction: row-reverse;
}

.holder__info {
  width: 453px;
  margin-left: 117px;
}

.holder__title-inner {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin-bottom: 10px;
}

.holder__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .intro::before {
    background-image: url("../images/bgi-first@2x.png");
  }

  .intro::after {
    background-image: url("../images/bgi-second@2x.png");
  }

  .holder::before {
    background-image: url("../images/bgi-third@2x.png");
  }
} 