.plan-holder {
  position: relative;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  &::before {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 980px);
    width: 402px;
    height: 300px;
    background-image: url("../../images/bgi-first.png");
    background-size: 402px 300px;
    background-repeat: no-repeat;
    content: "";
 
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 207px);
    right: calc(50% - 1165px);
    display: block;
    width: 514px;
    height: 570px;
    background-image: url(../../images/plan-bgi-second.png);
    background-size: 545px 570px;
    background-repeat: no-repeat;
  }
}

.plan-box {
  padding-top: 50px;
  background-color: #F8F8F2;
  
  &::before {
    position: absolute;
    bottom: calc(50% - 690px);
    left: calc(50% - 1007px);
    display: block;
    width: 316px;
    height: 269px;
    background-image: url(../images/bgi-third.png);
    background-size: 316px 269px;
    background-repeat: no-repeat;
    content: "";
  }
}

.plan-box__inner {
  display: flex;
  justify-content: space-between;

}

.plan-box__list {
  margin-right: auto;
  list-style-type: none;
}

.plan-box__item {
  width: 230px;
  margin-bottom: 35px;
}

.plan-box__item:last-child {
  margin-bottom: 0;
}

.plan-box__link {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #555555;
  text-decoration: none;
}

.plan-box__link--active {
  color: #000000;
  border-bottom: 3px dashed #C99B67;
}

// --------------------right-----------------------
.plan-form {
  margin-bottom: 60px;
  width: 721px;
}

.plan-form-last {
  margin-bottom: 100px;
}

.plan-form__inner {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.plan-box__title {
  margin-right: 25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #000000;
}

.plan-form__label {
  display: flex;
}

.input:checked ~ .plan-label__box {
  display: inline-block;
  background-color: #0A775F;
}

.input:checked ~ .plan-label__box>.plan-label__title {
  color: #FFFFFF;
}

.input:checked ~ .plan-label__box>.plan-label__text {
  color: #FFFFFF;
};


.plan-label__box {
  display: inline-block;
  width: 227px;
  padding: 30px 12px 80px 16px;
  background-color: #C6DCD1;
}

.plan-label {
  margin-right: 18px;

}
.plan-label--active {
  margin-right: 0;
}

.plan-label__title {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  color: #333333;
}

.plan-label__text {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.plan-frame {
  margin-bottom: 20px;
  padding: 40px 20px;
  background-color: #C99B67;
  width: 717px;
}

.plan-frame__top {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.plan-frame__bottom {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

.plan-frame__span {
  color: #FFFFFF;
}

.plan-button {
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  padding: 16px 24px;
  background-color: #0A775F;
  border: transparent;
  outline: none;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}