.plan-wrap {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.plan-wrapper {
  padding-top: 50px;
  padding-bottom: 80px;
  background-image: url("../images/wrap-bgi.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #0A775F;
  background-blend-mode: overlay;
}

.plan-wrapper__box {
  margin-bottom: 20px;
  background-image: url("../images/wrap-lines.svg");
  background-position: calc(50% - 147px);
  background-repeat: no-repeat;
}

.plan-wrapper__span {
  display: inline-block;
  margin-right: 393px;
  width: 60px;
  height: 60px;
  background-color: #F8F8F2;
  border: 4px solid #C99B67;
}

.plan-wrapper__box > .plan-wrapper__span:last-child {
  margin-right: 0;
}

.plan-wrapper__list {
  display: flex;
  margin-bottom: 60px;
  list-style: none;
}

.plan-wrapper__item {
  position: relative;
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  width: 433px;
  background-color: #F8F8F2;
}

.plan-wrapper__item:nth-child(3) {
  margin-right: 0; 
}

.plan-wrapper__info {
  width: 385px;
}

.plan-wrapper__info-span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #333333;
  opacity: 0.8;
}

.plan-wrapper__subtitle {
  margin-top: 140px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
}

.plan-wrapper__subtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}